/* overall layout */
* {
  --grid-spacing-base: 1.2rem;
}

.main-product--root {
  padding: 32px var(--grid-spacing-base);
}

.layout--main-content {
  padding-left: var(--grid-spacing-base);
  padding-right: var(--grid-spacing-base);
}

.layout-main-content-bordered {
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}

.shopify-section:not(.shopify-section-group-footer-group, .shopify-section-group-overlay-group) {
  position: relative;
}

.shopify-section:not(.shopify-section-group-footer-group, .shopify-section-group-overlay-group)::after {
  content: "";
  display: block;
  width: calc(100% + var(--grid-spacing-base) * 2);
  height: 1px;
  background-color: #e0e0e0;
  position: absolute;
  bottom: 0;
  left: calc(var(--grid-spacing-base) * -1);
  z-index: 3;
}

.shopify-section.section--header:not(:has(.x-menu--level-2--container[aria-hidden="false"]))::after {
  z-index: 4;
}

.shopify-section:has(.header--root[aria-hidden="true"])::after {
  opacity: 0;
}

/* featured collection */
.featured-collection--root {
  padding-left: 0;
  padding-right: 0;
}

.featured-collection--products {
  position: relative;
  grid-gap: 0;
}

.featured-collection--products::before {
  content: "";
  display: block;
  width: calc(100% + var(--grid-spacing-base) * 2);
  height: 1px;
  background-color: #e0e0e0;
  position: absolute;
  left: calc(var(--grid-spacing-base) * -1);
  z-index: 1;
}

.featured-collection--products::after {
  content: "";
  display: block;
  width: calc(100% + var(--grid-spacing-base) * 2);
  height: 1px;
  background-color: #e0e0e0;
  position: absolute;
  bottom: 0;
  left: calc(var(--grid-spacing-base) * -1);
  z-index: 1;
}

.product-card--root img {
  aspect-ratio: 1;
  object-fit: contain;
}

.product-card--root {
  position: relative;
  min-height: 100%;
}

.product-card--root::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
  position: absolute;
  bottom: 0;
}

.product-card--root::before {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background-color: #e0e0e0;
  position: absolute;
  right: 0;
  z-index: 1;
}

.product-card--image-wrapper::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

@media only screen and (max-width:767px) {
  .product-card--root:nth-of-type(2n)::before {
    width: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1027px) {

  :not(:is(.recent-products--grid,
           .related-products--grid))>.product-card--root:nth-of-type(3n)::before {
    width: 0;
  }
}

@media only screen and (min-width: 1028px) {

  :not(:is(.recent-products--grid,
           .related-products--grid))>.product-card--root:nth-of-type(4n)::before {
    width: 0;
  }
}

@media only screen and (min-width: 768px) {

  :is(.recent-products--grid,
      .related-products--grid)>.product-card--root:nth-of-type(1) {
    border-left: 1px solid #e2e2e2;
  }
}

product-card .product-card--details {
  gap: unset;
  flex: 1;
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: var(--font--paragraph--size);
  letter-spacing: -1px;
  justify-content: space-between;
}

.product-card--details-wrapper {
  margin: 0 0.4rem;
  line-height: 1.2em;
}

.product--price-wrapper {
  margin-top: 0.5rem;
}

[data-item=block-link]>*,
[data-item=overline],
[data-item=nav-text] {
  font-size: var(--font--paragraph--size);
  letter-spacing: -0.2px;
}

@media only screen and (max-width:767px) {

  [data-item=block-link]>*,
  [data-item=overline],
  [data-item=nav-text] {
    font-size: var(--font--paragraph--mobile-size);
  }
}

@media only screen and (min-width: 768px) and (max-width: 1028px) {
  [data-container=panel][data-columns="4"] {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

/* collection page */
.navigation--wrapper {
  padding-bottom: 1rem;
}

.main-collection--root {
  padding-top: 0 !important;
  padding-left: 0;
  padding-right: 0;
}

.main-collection--grid {
  gap: unset;
}

/* blogs */
.blog--article-list,
.blog--body {
  padding: 0;
}

.blog--article-list {
  display: grid;
  opacity: 1 !important;
  position: relative;
  align-items: start;
}

.blog--root .blog--article-list .article-card--root {
  width: 100% !important;
  position: relative;
}

.article-card--image-wrapper,
.article-card--image {
  position: relative;
}

.article-card--heading {
  text-align: center;
  font-size: var(--font--paragraph--size);
  letter-spacing: -1px;
  font-weight: 700;
}

@media only screen and (max-width: 767px) {
  .blog--article-list {
    grid-template-columns: repeat(2, minmax(0, 1fr))
  }
}

@media only screen and (min-width: 768px) {
  .blog--article-list {
    grid-template-columns: repeat(3, minmax(0, 1fr))
  }
}

@media only screen and (min-width: 1028px) {
  .blog--article-list {
    grid-template-columns: repeat(4, minmax(0, 1fr))
  }
}

.blog--body::before {
  content: "";
  display: block;
  width: calc(100% + var(--grid-spacing-base) * 2);
  height: 1px;
  background-color: #e0e0e0;
  position: absolute;
  left: calc(var(--grid-spacing-base) * -1);
  z-index: 1;
}

.article-card--root::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
  position: absolute;
  bottom: 0;
}

:not(.article--recents-grid)>.article-card--root::before {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background-color: #e0e0e0;
  position: absolute;
  right: 0;
  z-index: 1;
}

:not(.article--recents-grid)>.article-card--image-wrapper::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

@media only screen and (max-width:767px) {
  .article-card--root:nth-of-type(2n)::before {
    width: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1027px) {
  .article-card--root:nth-of-type(3n)::before {
    width: 0;
  }
}

@media only screen and (min-width: 1028px) {
  .article-card--root:nth-of-type(4n)::before {
    width: 0;
  }
}

.article--recents-wrapper {
  background-color: #e2e2e2;
  grid-gap: 1px;
}

.article--recents-header,
.article-card--root {
  background-color: white;
}

.article--recents-grid {
  grid-gap: 1px;
  padding-left: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
}

.article--title,
.article--recents-title {
  margin: 2rem 0;
}

.article-card--heading {
  margin-bottom: 1.3rem;
}

/* products */
.product-media--thumbs-wrapper {
  grid-gap: unset;
  border-left: 1px solid #e0e0e0;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.product-media--thumbs-wrapper::before {
  content: "";
  display: block;
  width: calc(100% + var(--grid-spacing-base) * 4);
  height: 1px;
  background-color: #e0e0e0;
  position: absolute;
  left: calc(var(--grid-spacing-base) * -2);
  z-index: 1;
}

.product-media--thumbs-wrapper::after {
  content: "";
  display: block;
  width: calc(100% + var(--grid-spacing-base) * 4);
  height: 1px;
  background-color: #e0e0e0;
  position: absolute;
  bottom: 0;
  left: calc(var(--grid-spacing-base) * -2);
  z-index: 1;
}

.product-media--thumb::before {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background-color: #e0e0e0;
  position: absolute;
  right: 0;
  z-index: 1;
}

.product-media--thumb::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.product-media--thumb {
  display: flex
}

.product-media--thumb>img,
.product-media--root>img {
  object-fit: contain;
  align-self: center;
}

@media only screen and (max-width:767px) {
  :not(.main-product--left)>.product-media--container[data-container] {
    grid-gap: 1px;
    padding: 1px 0;
  }

  :not(.main-product--left)>product-media-variants {
    background-color: #e0e0e0;
  }
}

/* related, recent, search products */
.recent-products--root,
.recent-products--grid,
.recent-products--wrapper,
.related-products--root,
.related-products--grid,
.related-products--wrapper,
.search-results--products,
.search-results--root,
.search-results--root[data-view=product],
.predictive-search--product-grid {
  padding: 0;
  grid-gap: 0;
}

.predictive-search--product-grid {
  border-top: 1px solid #e2e2e2;
  border-left: 1px solid #e2e2e2;
}

.predictive-search--product-grid>#shopify-section-product-card::after {
  width: 100%;
  left: 0;
}

.predictive-search--product-grid .product-card--details {
  min-height: 6.5rem;
  /* cannot divide by a unit value
  --number-of-lines: calc((9px * 65) / ((100vw - 2.4rem) / 2 - 2rem));
  min-height: calc(16px * (var(--number-of-lines) + 1) + 2rem); */
  margin: 1rem 0;
}

.related-products--header,
.recent-products--title {
  padding-top: var(--spacing--section--y);
  padding-bottom: var(--spacing--section--y);
}

.recent-products--grid::before,
.related-products--grid::before {
  content: "";
  display: block;
  width: calc(100% + var(--grid-spacing-base) * 2);
  height: 1px;
  background-color: #e0e0e0;
  position: absolute;
  left: calc(var(--grid-spacing-base) * -1);
  z-index: 1;
}

.main-product--desktop,
.product--header {
  width: calc(100% - var(--text-column-width) - var(--spacing--block));
  background-color: #e0e0e0;
}

product-media-variants.product-media--variants--root {
  padding: 0 1px;
}

.product--block--heading {
  background-color: white;
  margin-left: 1px;
  margin-right: 1px;
}

[data-item~=section-heading]:before {
  display: none;
}

.product-model--root model-viewer {
  border: none;
}

.product-model--button[data-item] {
  width: 100%;
  margin-top: var(--spacing--item);
  margin-bottom: var(--spacing--item);
}

[data-item~=section-heading] {
  transform: translateY(1px);
}


[data-item=button-full] {
  position: relative;
  width: 100%;
  font-family: var(--font--nav--family);
  font-weight: var(--font--nav--weight);
  font-style: var(--font--nav--style);
  font-size: 16px;
  padding: .5rem 0;
  color: black;
}

[data-item=button-full]::before {
  content: "";
  display: block;
  width: calc(100% + var(--grid-spacing-base) * 4);
  height: 1px;
  background-color: #e0e0e0;
  position: absolute;
  top: 0;
  left: calc(var(--grid-spacing-base) * -2);
}

.product-view-in-space[data-item=button-full]::after {
  content: "";
  display: block;
  width: calc(100% + var(--grid-spacing-base) * 4);
  height: 1px;
  background-color: #e0e0e0;
  position: absolute;
  bottom: 0;
  left: calc(var(--grid-spacing-base) * -2);
}

@media only screen and (min-width: 768px) {
  button.product-view-in-space {
    display: none;
  }
}

[data-spacing-above=true]>.featured-content--root::before {
  content: "";
  display: block;
  width: 100vw;
  height: 1px;
  background-color: #e0e0e0;
  position: absolute;
  top: var(--spacing--section--y);
  left: calc(var(--grid-spacing-base) * -1);
}

@media only screen and (max-width: 767px) {
  [data-spacing-above=true]>.featured-content--root::before {
    top: var(--spacing--section--mobile--y);
  }
}

.stacked-text--title-image {
  max-width: 30vw;
  margin: auto;
}

.collection-header--heading img {
  max-width: 30vw;
}